.c-new-element {
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 13px;
  position: relative;
  background-color: #fee;
}

.c-nav-link {
  position: absolute;
  display: block;
  width: 30px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #eee;
  opacity: 0;
  transition: opacity ease-out 250ms;
}

.c-nav-link--next {
  right: 0;
  border-right-width: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.c-nav-link--previous {
  left: 0;
  border-left-width: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.c-new-element:hover .c-nav-link,
.c-new-element:hover .c-nav-link--disabled:hover {
  opacity: 0.6;
}

.c-new-element:hover .c-nav-link:hover {
  opacity: 1;
}

.c-icon {
  display: block;
}

.c-icon-chevron {
  width: 14px;
  height: 23px;
  background: transparent url('chrome-extension://ndmmcnfngmkloicmidmpehpocnkchecd/sprite.png') 0 0 no-repeat;
}

.c-icon-chevron--next {
}

.c-icon-chevron--previous {
  background-position: -14px 0;
}
